
<section class="user">
    <h1> <%= @user.name.capitalize %> </h1>
    <h2> <%= mail_to(@user.email) %> </h2>

    <% if current_user?(@user) %>
        <div class="actions">
            <%= link_to "Edit Account", edit_user_path(@user), class: "button edit" %>
            <%= link_to 'Delete Account', @user, method: :delete,
                    data: { confirm: "Permently delete your account!? "}, 
                    class: "button delete" %>
        </div>
    <% end %>

    <ul class="reviews">
  <% @reviews.each do |review| %>
    <li>
      <%= render "shared/stars", percent: review.stars_as_percent %>
      <p>
        <%= link_to review.user.name, review.user %>
        <span class="date">
          <%= time_ago_in_words(review.created_at) %> ago
        </span>
      </p>
      <p>
        <%= review.comment %>
      </p>
    </li>
  <% end %>

  <% if @favorite_movies.present? %>
    <h4>Favorite Movies</h4>
    <ul>
      <div class="favorite-movies">
    <% @favorite_movies.each do |movie| %>
      <%= link_to image_tag(movie.image_file_name), movie %>
    <% end %>
      </div>
    </ul>
  <% end %>
</ul>




</section>
