  <header>
  <nav>
    <%= link_to(image_tag("logo"), root_path) %>
    <ul class="left">
      <li>
        <div> <%= link_to("All Movies", movies_path) %></div>
      </li>
    </ul>
    <ul class="right">
      <% if session[:user_id]%>
        <li>
          <%= link_to current_user.name, current_user %>
        </li>
         <li>
          <%= link_to "Sign Out", session_url, method: :delete, class: "button" %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign Up", signup_path, class: "button" %>
        <li>
        <li>
          <%= link_to "Sign In", signin_path, class: "button" %>
        <li>
      <% end %>
    </ul>
  </nav>
</header>